


<div class="container py-5">
  <!-- Calendar -->
  <div class="calendar shadow bg-white p-5">
    <div class="d-flex align-items-center"></i>
    </div>
  <h3 class="text-center">Mes prochains Rdvideo</h3>
<!--     <ol class="day-names list-unstyled">
      <li class="font-weight-bold text-uppercase">Mon</li>
      <li class="font-weight-bold text-uppercase">Tue</li>
      <li class="font-weight-bold text-uppercase">Wed</li>
      <li class="font-weight-bold text-uppercase">Thu</li>
      <li class="font-weight-bold text-uppercase">Fri</li>
      <li class="font-weight-bold text-uppercase">Sat</li>
      <li class="font-weight-bold text-uppercase">Sun</li>
    </ol> -->

    <ol class="days list-unstyled text-center">
      <%= week_calendar events: @timeslots do |date, timeslots| %>
        <li>
          <div class="date text-center" ><%= date.day %></div>
          <% timeslots.each do |timeslot| %>
            <% if timeslot.user_id.nil? %>
              <div class="event bg-success ">Disponible - <%= link_to "", timeslot_path(timeslot), method: :delete, data: { confirm: "Êtes-vous sur ?" }, class: "fas fa-trash-alt", :remote => true %></div>
            <% elsif %>
              <div class="event bg-primary"><%= timeslot.user.first_name %> - <%= timeslot.from_time.strftime('%H:%M') %></div>
              <% else %>
               <div class="event bg-primary">
            <% end %>
          <% end %>
        </li>
      <% end %>
      <!-- <li>
        <div class="date">2</div>
      </li>
      <li>
        <div class="date">13</div>
        <div class="event all-day begin span-2 bg-warning">Event Name</div>
      </li>
      <li>
        <div class="date">21</div>
        <div class="event bg-primary">Event Name</div>
        <div class="event bg-success">Event Name</div>
      </li>
      <li>
        <div class="date">22</div>
        <div class="event bg-info">Event with Longer Name</div>
      </li>
      <li class="outside">
        <div class="date">1</div>
      </li>
      <li class="outside">
        <div class="date">2</div>
      </li>
      <li class="outside">
        <div class="date">3</div>
      </li>
      <li class="outside">
        <div class="date">4</div>
      </li> -->
    </ol>
    <div class= "incalendar text-center">
<%= link_to "Mon calendrier", calendar_profile_path(@profile), class: "btn btn-outline-primary" %>
  <%= link_to "Ajouter vos disponibilités", new_profile_availability_path(@profile), class: "btn btn-outline-success" %>
    </div>
  </ul>
</div>

  </div>
</div>
    </ol>
  </div>
</div>
</div>

<div class="infodash">
  <div class="card-dashboard shadow bg-white p-5">
    <h3>
      Mes types de cours
      <%= link_to "", new_profile_reason_path(@profile), class: "fas fa-plus-circle" %>
    </h3>
    <% if @reasons.empty? %>
      <%= link_to "Ajouter un type de cours", new_profile_reason_path(@profile), class: "btn-gradient" %>
    <% else %>
      <% @reasons.each do |reason| %>
        <li>
        <%= reason.name %> -
        <%= reason.price %>€
        </li>

      </ol>
        <%= link_to "", edit_reason_path(reason), class: "far fa-edit" %>
        <%= link_to "", reason_path(reason), method: :delete, data: { confirm: "Êtes-vous sur ?" }, class: "fas fa-trash-alt" %>
      <% end %>
    <% end %>
  </div>

  <div class="card-dashboard shadow bg-white ">
    <%= image_tag "growth.png" %>
    <p> Nombre total de RDvideos : <%= @timeslots_booked.count %></p>
  </div>
</div>

