  <br>
<!--  Resarch form -->
   <div class="form-container">
      <div class="form-query">
        <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Coach professionnel, prof de yoga..."%>
      </div>
      <div class="form-submit">
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>

<div class="hauteurindex">
  <% @profiles.each do |profile|%>
    <%#= link_to profile_path(profile) do %>
      <div class="cards-profiles">
        <div class="profile-info">
          <div class="header-profile">
            <div>
              <% if profile.user.photo.attached? && profile.user.photo.key.present? %>
                <%= cl_image_tag profile.user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar-large"  %>
              <% else %>
                <%= image_tag("image_not_found.png") %>
              <% end %>
            </div>
            <div>
              <h5>
                <%= profile.user.first_name %>
                <%= profile.user.last_name %>
              </h5>
              <h6>
                <%= profile.profession %>
              </h6>
            </div>
          </div>

          <div>
            <%= link_to "Plus d'information", profile_path(profile), class: "btn-gradient" %>
          </div>

        </div>

        <div class="book-calendar">
          <%= week_calendar partial: 'profiles/shared/booking_calendar', events: profile.timeslots.where(user_id: nil) do |date, timeslots| %>
            <% if timeslots.empty? %>
              <hr>
            <% else %>
              <% timeslots.sort_by!{ |t| t.from_time }.each do |timeslot| %>
                <%= link_to booking_timeslot_path(timeslot) do %>
                  <div class="button-timeslot" id="available">
                    <%= timeslot.from_time.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

      </div>
  <% end %>
</div>
