<div class="head-profile">
  <div>
    <% if @profile.user.photo.attached? && @profile.user.photo.key.present? %>
      <%= cl_image_tag @profile.user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar-large"  %>
    <% else %>
      <%= image_tag("image_not_found.png") %>
    <% end %>
  </div>
  <h2><%= @user.first_name %> <%= @user.last_name %> - <%= @profile.profession %></h2>

</div>

<div class="container-1">


</div>


<div class="card-dashboard">
  <h2>Créneaux disponibles</h2>
  <ul class="mt-4">
    <% if  @timeslots.empty?%>
      <p>Pas de créneau displonible pour le moment</p>
    <% else %>
      <% @timeslots.each do |timeslot| %>
       <li>
        le <%= timeslot.date.strftime("%d/%m/%Y") %>
        de <%= timeslot.from_time.strftime("%k:%M")  %>
        à <%= timeslot.to_time.strftime("%k:%M") %>
        <%= link_to "Reserver ce créneau", booking_timeslot_path(timeslot) %>
      <% end %>

    <% end %>
  </ul>
</div>
