<div class= "entete">
  <h1>Bienvenu chez Rdvideo</h1>
  <p> Prenez rdv avec un professionnel à distance </p>
</div>
<br>
<br>
<br>



  <%= form_tag profiles_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Trouvea le professionnel idéal"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
<br>
<br>

<div class="cards">
      <%= image_tag 'index.jpg' %>
      <%= image_tag 'yoga.jpg' %>
      <%= image_tag 'video2.jpg' %>
</div>





