<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path 'home2.jpg' %>);">
<div class= "entete">
    <h2> Prenez rdv avec un professionnel à distance </h2>

   <div class="form-banner">
      <div class="form-query">
        <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Coach professionnel, prof de yoga..."%>
      </div>
      <div class="form-submit">
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container1">
  <div class="bloc-vp">
    <div class="bloc-vp-cards justify-content-around">
      <div class="card">
        <%= link_to new_user_registration_path do %>
          <%= image_tag 'yoga.jpg' %>
        <% end %>
<div class="choisissez">
    <p>Choisissez le professionnel et ainsi que le créneau
    qui vous convient</p>
  </div>
      </div>
       <div class="card">
        <%= link_to profiles_path do %>
        <%= image_tag 'video2.jpg' %>
        <% end %>
  <div class= "acces">
    <p>Accédez à votre rendez vous le jour J</p>
  </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>



