
<div class="profile_form">
  <h2>Ajouter des disponibilités</h2>
  <%= simple_form_for ([@profile, @availability]) do |f| %>
    <%= f.input :from_date %>
    <%= f.input :to_date %>
    <%= f.input :from_time %>
    <%= f.input :to_time %>
    <%= f.input :slot_time %>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>
</div>
